extends layout

block content
  div.botom
  h1= title
  p.rule1 System Contract
  div.input 
    .input-group.input-group-lg
      span.input-group-addon 
        span.glyphicon.glyphicon-user(aria-hidden='true')
      input.form-control#idUser( style="height: 53px;" type='text', placeholder='adress')
      span.input-group-addon 
        button(  id="createQuery") Create/Query
      input(type="hidden" id="addressContractUser" value="")
  div.result(id="result" style="display:none") Info Contract user
    div(id="infoFather")
    div(id="infoChildren")
  div.createChildren
  
block codeJs
   script(src='/javascripts/systemFatherChildren.js')

