extends layout

block content
  div.botom
  h1= title
  p.rule1 Welcome to  my first app ethereum
  div.input 
    .input-group.input-group-lg
      span.input-group-addon 
        span.glyphicon.glyphicon-user(aria-hidden='true')
      input.form-control#address( style="height: 53px;" type='text', placeholder='adress')
      span.input-group-addon 
        button(  id="search") Search
  div.result(style="display:none")
    div your account
      span.address XXXX
    div ether
      span.balance XXX
  
block codeJs
   script(src='javascripts/balance.js')

